<?xml version="1.0"?>
<config>
    <modules>
        <Endora_PayLane>
            <version>0.1.0</version>
        </Endora_PayLane>
    </modules>
    <global>
        <models>
            <paylane>
                <class>Endora_PayLane_Model</class>
            </paylane>
        </models>
        <helpers>
            <paylane>
                <class>Endora_PayLane_Helper</class>
            </paylane>
        </helpers>
        <blocks>
            <paylane>
                <class>Endora_PayLane_Block</class>
            </paylane>
        </blocks>
        <resources>
            <paylane_setup>
                <setup>
                    <module>Endora_PayLane</module>
                    <class>Endora_PayLane_Model_Resource_Setup</class>
                </setup>
            </paylane_setup>
        </resources>
        <events>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <endora_paylane_observer>
                        <type>singleton</type>
                        <class>paylane/observer</class>
                        <method>preparePaymentTypeFormData</method>
                    </endora_paylane_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <paylane_sale_id>
                   <to_order>*</to_order>
                </paylane_sale_id>
            </sales_convert_quote>
            <sales_convert_order>                                              
                <paylane_sale_id>
                    <to_quote>*</to_quote>
                </paylane_sale_id>
            </sales_convert_order>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <paylane>
                <use>standard</use>
                <args>
                    <module>Endora_PayLane</module>
                    <frontName>paylane</frontName>
                </args>
            </paylane>
        </routers>
        <translate>
            <modules>
                <Endora_PayLane>
                    <files>
                        <default>Endora_PayLane.csv</default>
                    </files>
                </Endora_PayLane>
            </modules>
        </translate>
        <layout>
            <updates>
                <Endora_PayLane>
                    <file>paylane.xml</file>
                </Endora_PayLane>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <paylane>
                <use>admin</use>
                <args>
                    <module>Endora_PayLane</module>
                    <frontName>paylane</frontName>
                </args>
            </paylane>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <paylane>
                                            <title>PayLane</title>
                                        </paylane>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Endora_PayLane>
                    <files>
                        <default>Endora_PayLane.csv</default>
                    </files>
                </Endora_PayLane>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <paylane>
                <model>paylane/payment</model>
            </paylane>
            <paylane_banktransfer>
                <title>PayLane Bank Transfer</title>
            </paylane_banktransfer>
            <paylane_paypal>
                <title>PayLane PayPal</title>
            </paylane_paypal>
            <paylane_directdebit>
                <title>PayLane Direct Debit</title>
            </paylane_directdebit>
            <paylane_sofort>
                <title>PayLane SOFORT Banking</title>
            </paylane_sofort>
            <paylane_ideal>
                <title>PayLane iDEAL</title>
            </paylane_ideal>
            <paylane_secureform>
                <title>PayLane SecureForm</title>
                <send_customer_data>1</send_customer_data>
            </paylane_secureform>
            <paylane_notifications>
                <notification_mode>auto</notification_mode>
                <notifications_interval>15</notifications_interval>
            </paylane_notifications>
            <paylane_creditcard>
                <title>PayLane Credit Card</title>
                <fraud_check_overwrite>0</fraud_check_overwrite>
                <avs_check_overwrite>0</avs_check_overwrite>
                <authorization_amount>1</authorization_amount>
                <single_click_active>0</single_click_active>
            </paylane_creditcard>
        </payment>
    </default>
    <crontab>
        <jobs>
            <paylane_charge>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>paylane/observer::handleRecurringProfileCron</model>
                </run>
            </paylane_charge>
        </jobs>
    </crontab>
</config>